@charset "utf-8";
/* Set */
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #f1f1f1;
  --color-dark-grey: #4d4d4d;
  --color-light-grey: #8f8f8f;
  --color-point: #a1abf1;
  --color-sub: #2a8efc;
  --color-black: #111111;
  /* Font size */
  --font-large: 38px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  --size-border-radius: 4px;
  /*Annimation-duration*/
  --annimation-duration: 300ms ease;
}
* {
  box-sizing: border-box;
  list-style: none;
}
.blue_color{color: var(--color-sub); font-weight: var(--weight-semi-bold);}
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-sub);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

.section {
  padding: 70px;
  text-align: center;
  margin: auto;
}

.section_container {
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--color-dark-grey);
}

ul {
  padding-left: 0;
}

body {
  cursor: default;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}


/* Navbar */
#navber {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  color: var(--color-white);
  padding: 5px;
  position: fixed;
  width: 100%;
  transition: 300ms ease-in-out;
  z-index: 1;
}

#navber.navbar_dark {
  background-color: #fff;
  color: var(--color-dark-grey);
  padding: 8px;
  box-shadow: 0 0 3px;
}

#navber.navbar_dark a {
  color: var(--color-dark-grey);
}
.navar_logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navar_logo a {
  color: var(--color-white);
}

.navber_menu {
  display: flex;
}

.navbar_menu_item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  border: 1px solid transparent;
}

.navbar_menu_item:hover {
  background-color: var(--color-dark-grey);
  transition: background-color 0.3s;
  color: var(--color-white);
  border: 1px solid white;
}

.navbar_toggle-btn {
  position: absolute;
  top: 20px;
  right: 16px;
  font-size: 16px;
  color: var(--color-dark-grey);
  display: none;
}

/* Home */
#home {
  padding: 20px 80px;
  padding-top: 130px;
  background-color: #ccc;
  width: 100%; height: 800px;
  background: url("../image/home_back.png") center/cover no-repeat;
}

.home_container {
  display: flex;
  margin: 0 auto;

 
}
.home_avatar {
  margin: 0 40px;
  width: 400px;
  height: 600px;
  border-radius: 8px;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  box-shadow: 0 5px 5px -3px #6b6b6b;
}

.txt_part {
  width: 100%;
}

.home_title,
.home_description {
  color: var(--color-white);
  padding: 10px;
}
.home_description {
  padding-bottom: 50px;
}

.home_contact:hover {
  background-color: rgba(0,0,0,0.5);
  transition: background-color 0.3s;
}

.home_contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
  font-weight: var(--weight-bold);
  margin: 0 20px;
}

/* About me */
.about_profile{display: flex; padding: 40px 0;}
.about_profile .left {margin: 40px 0;
  height: 400px; width: calc(100% / 2);background: rgb(244,240,237);
  background: linear-gradient(180deg, rgba(244,240,237,1) 0%, rgb(224, 230, 234) 100%);
  box-shadow: 0 5px 5px -3px #a1c4fd;
  border-radius: 30px 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.about_profile .left img {height: 370px;}
.about_profile .right {width: 100%;}
.about_profile .right .txt_part{display: flex; width: 100%;flex-wrap: wrap;}
.about_profile .right .txt_part .cont{width:calc(100% / 3 - 40px); margin: 10px 0; text-align: left; margin: 0 20px;}
.about_profile .right .txt_part .cont:last-child {width: calc(100% / 1.9)}
.about_profile .right h2{font-size: 25px; color: var(--color-dark-grey);}
.about_profile .right .txt_part .cont > span{display: block;}
.about_profile .right p{padding: 20px 0;}

/* Skill */
#skills {
  background-color: rgb(242, 242, 242);
}



.tools,
.etc {
  padding: 20px 0;
}

/* work */

.work_categories {
  margin: 40px;
}

.category_btn {
  border: 1px solid var(--color-dark-grey);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.category_btn.selected .categroy_count,
.category_btn:hover .categroy_count {
  opacity: 1;
  top: 0;
}

.category_btn.selected,
.category_btn:hover {
  background-color: var(--color-sub);
  color: var(--color-white);
}

.categroy_count {
  border: 1px solid var(--color-point);
  background-color: var(--color-point);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--annimation-duration);
}

.work_projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all 300ms ease-out;
}

.work_projects.anim-out {
  opacity: 0.6;
  transform: scale(0.96) translateY(40px);
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project img {
  max-width: 100%;
  max-height: 100%;
}

.project_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--annimation-duration);
}

.project:hover .project_description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project_description h3 {
  color: var(--color-white);
}

.project_description h3:after {
  content: "";
  position: relative;
  left: 50%;
  margin-top: 8px;
  margin-left: -12px;
  width: 25px;
  height: 2px;
  display: block;
  background-color: var(--color-dark-grey);
}

/* Testimonial */

#testimonials {
  background-color: var(--color-light-white);
}

.testimonial {
  margin: 32px 0;
}

.testimonial {
  display: flex;
}

.testimonial_profile {
  font-size: 120px;
  color: #ccc;
}

.testimonial_profile:nth-child(odd) {
  margin-right: 40px;
}

.testimonial_profile:nth-child(even) {
  margin-left: 40px;
}

.testimonial_speech-bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial_speech-bubble p {
  color: var(--color-light-grey);
  font-size: var(--font-micro);
}

.testimonial_speech-bubble a {
  color: cornflowerblue;
}


/* contact */

.contact{
  max-width: 1100px;
  min-width: 340px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 10px;
}
.contact h2{
  font-size: 24px;
  color:var(--color-sub);

}
.contact fieldset{
  border: none;
}
.contact fieldset legend{
  padding: 0 20px;
  font-size: 20px;
  color:#555;
  font-weight: bold;
}

.contact fieldset{padding: 0;}
.contact fieldset .formlist ul{padding-bottom: 10px;}
.contact fieldset .formlist ul li{
  display: flex; 
  padding: 10px 0;
}
.contact fieldset .formlist ul li label{
  width: 140px;
  font-size: 16px;
  font-weight: bold;
  word-break: keep-all;
  line-height: 40px;
  color:#999;
  display: block;
}
.contact fieldset .formlist ul li label sup{color:var(--color-sub);}

.contact fieldset .formlist ul li .inputbox{
  width: calc(100% - 140px);
  display: block;
}
.contact fieldset .formlist ul li .inputbox input{
  display: block;
  width: 100%;
  line-height: 40px;
  font-size: 16px;
  color:#555;
  padding: 0 10px;
  border:none;
  border-bottom:1px solid #ccc;
}
.contact fieldset .formlist ul li .inputbox textarea{
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  resize: none;
  height: 120px;
  border-radius:4px;
  font-size: 16px;
  color:#555;
  line-height: 1.2;
  padding: 12px 10px;
}
.contact fieldset .formlist .btn_box{
  text-align: right;
}
.contact fieldset .formlist .btn_box button{
  font-size: 14px;
  border-radius:4px;
  cursor: pointer;
  padding: 10px;
  background-color: #fff;
  border: 1px solid var(--color-sub);
  color: var(--color-sub);
}
.contact fieldset .formlist .btn_box button:hover{
  background-color: #fff;
  border: 1px solid var(--color-sub);
  transition: background-color 0.3s;
  background-color: var(--color-sub);
  color:#fff;
}

.thankyou_message{
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.thankyou_message article{
  position: absolute;
  max-width:500px;
  min-width:300px;
  background-color: #fff;
  border-radius:4px;
  padding: 20px;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
.thankyou_message article h1{
  color:#555;
  font-size: 22px;
  padding-bottom: 20px;
  word-break: keep-all;
}
.thankyou_message article p{
  font-size: 17px;
  color:#777;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.thankyou_message article .btn_box{
  padding-top: 20px; 
  text-align: right;
}
.thankyou_message article .btn_box a{
  display: inline-block;
  padding: 6px 12px; 
  background-color: var(--color-sub);
  color:#fff; 
  border-radius: 4px;
  font-size: 17px;
}
.thankyou_message article .btn_box a:hover{
  background-color: #010003;
}
.comment{
  font-size: 14px; 
  color:#f00;
  display: block;
  padding-top: 10px;
}

/* footer */
footer{
  padding: 20px 0;
  background-color:#a1c4fd;;
  color: var(--color-white);
}
footer .wrap {
  height: 100%;
  padding:0 40px;
  max-width: 1200px;
  margin: 0 auto;
}

footer .wrap > span {font-size: 10px;  display: block; text-align: center;}

footer .wrap img {
 width: 13px;
 margin: 0 10px;
}

footer .cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .cont .left {
  width: 120px;
}

.icons i {
  background-color: var(--color-sub);
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  text-align: center;
  margin: 0 3px;
}



/* Top btn */
.topbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 20px;
  bottom: 50px;
  right: 50px;
  width: 30px;
  height: 30px;
  font-size: 15px;
  color: white;
  background-color: var(--color-sub);
  border-radius: var(--size-border-radius);
  opacity: 0;
  transition: all 300ms ease-in;
  pointer-events: none;
}

.topbutton.visible {
  opacity: 1;
  pointer-events: auto;
}

.topbutton.visible:hover {
  padding: 30px;
  width: 50;
  background-color: var(--color-sub);
}


/* For below 768px screen width */
@media screen and (max-width: 768px) {
  h1 {font-size: var(--font-medium);}

  h2 {font-size: var(--font-regular);}

  #circle_bar {padding:0;}
  #home {
    padding: 20px 10px;
    padding-top: 130px;
    background-color: #ccc;
    font-size: var(--font-medium);
  }

  .home_title,
  .home_description{
    width: 100%;
    font-size: var(--font-medium);
  }

  .home_description {
    font-size: var(--font-regular);
  }
  .about_profile .left{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
  }

  .about_profile .left img{
   height: 200px;
  }

  .about_profile .right h2 {
    font-size: var(--font-small);
  }
  .about_profile .right p{
    font-size: var(--font-micro);
  }

  a {
    text-decoration: none;
    color: var(--color-dark-grey);
  }


  .about_profile{
    padding:0;
    flex-direction: column;
  }


  .txt_part{margin: 40px 0; font-size: 12px;}
  
  .left{width: 100%;}

  .about_title .sub {display: none;}
  .home_container {
    width: 100%;
  }

  .about_profile .right .txt_part .cont {
    margin: 10px;
    width: calc(100% / 3 - 20px);
  }

  .about_profile .right .txt_part .cont:last-child {width: calc(100% / 1.6 - 8px)}


  .section {
    padding: 20px;
  }

  .navbar_toggle-btn {
    display: block;
  }
  #navber {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0 0 4px;
  }
  .navar_logo {
    color: var(--color-dark-grey);
  }
  
  .navar_logo a {
    color: var(--color-dark-grey);
  }
  .navber_menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar_menu_item{
    color: var(--color-dark-grey)
  }
  .navber_menu.open {
    display: block;
  }



  .mjor {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .category_btn {
    width: 100%;
    margin: 4px 0;
  }
  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial_profile {
    font-size: 80px;
  }

  .testimonial_profile:nth-child(even),
  .testimonial_profile:nth-child(odd) {
    margin: 0;
  }

  .testimonial_speech-bubble {
    order: 1;
  }

  .topbutton {
    right: 16px;
    bottom: 16px;
  }
  
  #work article{
    width: 100%;
}

  #circle_bar .frame .box .cont .top svg{
    width: 40px;
    height: 0px;
  }


  /* footer */
 
  footer .wrap > span {
    display: none;
  }

  .contact fieldset .formlist ul li label {
    width: 110px;
    font-size: 13px;
  }
  .contact fieldset .formlist ul li .inputbox input{
    color: var(--color-white);
    font-size: 12px;
  }

  footer .wrap {
    padding: 0 20px;
  }
  .icons i {
    width: 23px;
    height: 23px;
  }
  footer .right {
    font-size: 12px;
  }
}
/* 🤷‍♀️미디어 쿼리 끝 🤷‍♀️ */


#circle_bar{
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
#circle_bar .frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#circle_bar .frame .box{
  width: 300px;
  height: 240px;
  position: relative;
  transition: transform 0.5s;
}
#circle_bar .frame .box:hover{
  transform: translateY(-7.5%);
}

#circle_bar .frame .box .cont{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
#circle_bar .frame .box .cont .top {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 16px rgba(0, 0, 0,0.5);
}

#circle_bar .frame .box .cont .top .num{
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%,-50%);
}
#circle_bar .frame .box .cont .top .num h2{
  font-size: 15px; color: #777;
}
#circle_bar .frame .box .cont .top .num h2 .count{
  font-size: 24px;
  color: #555;
}

#circle_bar .frame .box .cont .bottom{
  padding: 10px;
  color: rgb(195, 76, 96);
  text-align: center;
  font-size: 10px;
}
#circle_bar .frame .box .cont .top svg{
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 8;
}

#circle_bar .frame .box .cont .top svg circle{
  width: 100%; height: 100%;
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 10;
  transform: translate(5px, 5px);
}

#circle_bar .frame .box .cont .top svg circle:last-child{
  stroke-linecap: butt; /*스트로크의 끝부분 처리 butt, round, project*/
  stroke-dashoffset: 440; /*원의 0도부터 시계방향으로 이동한 거리*/
  stroke-dasharray: 440; /*원호를 구하기 2*PI*R = 2*70*3.14 = 439.6 ~ = 440 */
  stroke: var(--color-sub);
  transition: stroke-dashoffset 2s linear;
}

/* 신세대 work 부분 */
#work {
  width: 100%;
  padding: 80px 300px;
}
#work .sort_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

#work .sort_btn li {margin: 0 5px;}
#work .sort_btn li a{
  display: block;
  padding: 10px 20px;
  border: 1px solid var(--color-sub);
  border-radius: 4px;
  color: #08f;
  font-size: 14px;
  transition: 0.5s;
}

#work .sort_btn li.active a,
#work .sort_btn li:hover a
{
  background-color: #08f;
  color: #fff;
}



#work article{
  width: 50%;
  float: left;
  padding: 10px 20px; 
  padding-bottom: 40px;
}

#work article:hover {
  transform: translateY(-3%);
  transition: transform 0.3s;
}

#work article .photo {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-height: 520px;
  overflow: hidden;
}

#work article .photo .img{
  display: block;
  width: 100%;
  height: 360px;
  background-position: 50% 0;
  background-size: cover;
  transition: background-position 15s linear;
  cursor: pointer;
}

#work article:hover .photo .img{
  background-position: 50% 100%;
}


#work article .photo h3 {
  text-align-last: left;
  padding-top: 10px;
  font-size: var(--font-regular);
  color: var(--color-dark-grey);
}
#work article .photo p {
  text-align-last: left;
  color: var(--color-light-grey);
  font-size: var(--font-micro);
  
}
#work article .photo a {
  text-align-last: left;
  display: block;
    padding: 8px 16px;
    background-color: #fff;
    color:#08f;
    border-radius: 4px;
    text-align: left;
    transition: 0.5s;
}
#work article:hover .photo a.bluecolor{
  background-color: #08f;
  color:#fff;
}



@media (max-width:1400px){
  #work {
    padding: 50px 200px;
  }

}
@media (max-width:991px){

  #work {
    padding: 50px 100px;
  }
 

  #work article{
      width: 50%;
  }
}
@media (max-width:767px){
  
  #work {
    padding: 20px 20px;
  }
  

  #work{width: 100%; margin: 0;}

  #work .sort_btn{
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 10px;
  }
  #work .sort_btn li{
      margin: 0 5px 10px;
  }

  #work article{
      width: 100%;
  }
}